body{

    font-family: 'Montserrat';
    line-height: 30px;
}


footer{
    color: white;
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}